---
const headerSports = new Set(['nfl', 'soccer', 'ncaaf', 'mlb', 'nba', 'ncaab', 'wnba', 'nhl', 'ufc', 'boxing', 'wwe', 'mma', 'f1', 'mls', 'tennis']);

const allSports = [
  { id: 'nfl', label: 'NFL', img: '/images/nfl.webp' },
  { id: 'soccer', label: 'Soccer', img: '/images/soccer.webp' },
  { id: 'ncaaf', label: 'NCAAF', img: '/images/ncaaf.webp' },
  { id: 'mlb', label: 'MLB', img: '/images/mlb.webp' },
  { id: 'nba', label: 'NBA', img: '/images/nba.webp' },
  { id: 'ncaab', label: 'NCAAB', img: '/images/ncaab.webp' },
  { id: 'wnba', label: 'WNBA', img: '/images/wnba.webp' },
  { id: 'nhl', label: 'NHL', img: '/images/nhl.webp' },
  { id: 'ufc', label: 'UFC', img: '/images/ufc.webp' },
  { id: 'boxing', label: 'Boxing', img: '/images/boxing.webp' },
  { id: 'wwe', label: 'WWE', img: '/images/wwe.webp' },
  { id: 'mma', label: 'MMA', img: '/images/mma.webp' },
  { id: 'f1', label: 'F1', img: '/images/f1.webp' },
  { id: 'nascar', label: 'NASCAR', img: '/images/nascar.webp' },
  { id: 'mls', label: 'MLS', img: '/images/mls.webp' },
  { id: 'indycar', label: 'IndyCar', img: '/images/indycar.webp' },
  { id: 'tennis', label: 'Tennis', img: '/images/tennis.webp' },
  { id: 'golf', label: 'Golf', img: '/images/golf.webp' },
];

const sports = allSports.filter((s) => headerSports.has(s.id));
---

<div class="flex items-center gap-5 overflow-x-auto px-4 py-1 scroll-smooth" id="sports">
  {sports.map((s) => (
    <a href={s.href || `/${s.id}`} title={s.label} class="shrink-0 mr-3">
      <img width="38" height="38" src={s.img} alt={s.label + ' streams'} class="object-contain" />
    </a>
  ))}
</div>
