---
const sports = [
  { id: 'nfl', label: 'NFL', img: '/images/nfl.webp' },
  { id: 'nba', label: 'NBA', img: '/images/nba.webp' },
  { id: 'mlb', label: 'MLB', img: '/images/mlb.webp' },
  { id: 'nhl', label: 'NHL', img: '/images/nhl.webp' },
  { id: 'ufc', label: 'UFC', img: '/images/ufc.webp' },
  { id: 'f1', label: 'F1', img: '/images/f1.webp' },
  { id: 'soccer', label: 'Soccer', img: '/images/soccer.webp' },
  { id: 'tennis', label: 'Tennis', img: '/images/tennis.webp' },
  { id: 'golf', label: 'Golf', img: '/images/golf.webp' },
  { id: 'boxing', label: 'Boxing', img: '/images/boxing.webp' },
  { id: 'wwe', label: 'WWE', img: '/images/wwe.webp' },
  { id: 'wnba', label: 'WNBA', img: '/images/wnba.webp' },
];
---

<div class="flex items-center gap-5 overflow-x-auto px-4 py-1 scroll-smooth" id="sports">
  {sports.map((s) => (
    <a href={`/${s.id}`} title={s.label} class="shrink-0 mr-3">
      <img width="45" height="45" src={s.img} alt={s.label + ' streams'} class="object-contain" />
    </a>
  ))}
</div>
